<%- include ("partials/header"); -%>
<div id="AdminLogin" class="Signin">
    <div class="text-center d-flex justify-content-center align-items-center pt-5">
        <form class="form-signin" action="/Admin-login" method="post">
          <i class="fa-solid fa-shield"></i>
            <h1 class="h3 mb-3 fw-normal">Admin login</h1>
        
            <div class="form-floating">
              <input name="username" type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
              <label for="floatingInput">Customer ID</label>
            </div>
            <div class="form-floating mb-5">
              <input name="password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
              <label for="floatingPassword">Password</label>
            </div>
            <button class="w-100 btn btn-lg btn-dark" type="submit">Sign in</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2017–2023</p>
          </form>
      </div>
</div>
<%- include ("partials/footer"); -%>