<%- include ("partials/header"); -%>
	<header>
		<h1>Bank Announcements</h1>
	</header>
	<div class="container">
		<div class="announcement">
			<h2>New Account Type Available!</h2>
			<p>We are excited to announce that we now offer a new type of savings account with a competitive interest rate. Visit our <a href="#">savings account page</a> to learn more and open an account today.</p>
			<p class="date">Posted on March 25, 2023</p>
		</div>
		<div class="announcement">
			<h2>Branch Hours Update</h2>
			<p>Starting next week, our branch hours will be changing. Our new hours will be:</p>
			<ul>
				<li>Monday - Friday: 9am - 5pm</li>
				<li>Saturday: 9am - 12pm</li>
				<li>Sunday: Closed</li>
			</ul>
			<p class="date">Posted on March 20, 2023</p>
		</div>
	</div>

    <%- include ("partials/footer"); -%>
