<%- include ("partials/header"); -%>
      <div id="index" class="d-flex justify-content-center align-items-center main">
        <video id="bg-video" autoplay loop muted >
            <source src="videos/production ID_3945149.mp4" type="video/mp4">
        </video>
        <h1 id="welcome">Welcome to online banking</h1>
      </div>
      
</body>
<script>
  window.onload = function(){
    document.getElementById("bg-video").play();
  }
</script>
<%- include ("partials/footer"); -%>